// app global css in SCSS form

.navigation-btn .q-focus-helper {
  display: none;
}

.navigation-btn .q-ripple {
  display: none;
}

.footer-icon .q-focus-helper {
  display: none;
}

.footer-icon .q-ripple {
  display: none;
}

.background {
  background: $background;
}

.borders {
  border: 1px solid $background;
}
